/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=KoHo:bold;wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');


:root{
  --heading-color:#413a3a;
  --heading-font:'Nunito', sans-serif;
}

*{
  margin: 0;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.navbar{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.navbar h1{
 
  font-weight: 600;
  font-size: 40px;
  
}

.navbar .links{
  margin-left: auto;
  font-size: 18px;
 
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:visited{
  text-decoration: underline;
}

.navbar a:hover{
  font-weight: bold;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  
}

/* blog preview*/
.blog-preview{
  padding: 20px;
  margin: 20px auto;
}

.blog-preview h2{
  font-size: 25px;
  font-weight: 400;
  color: var(--heading-color);
}

.blog-preview:hover{
  box-shadow: 2px 2px 5px rgba(150, 147, 147, 0.863);
}


.home hr{
    /* margin-block-start: 3%; */
    border: dotted rgba(240, 236, 236, 0.863) 8px;
    border-bottom: none;
    width: 10%;
    margin: 20px auto;
 
}


