@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Baloo+Tammudu+2&display=swap');

:root{
  --heading-color:#413a3a;
  --heading-font:'Nunito', sans-serif;
  --text-font: 'Baloo Tammudu 2', cursive;
}

*{
  margin: 0;
  font-family: var(--heading-font);
  color: var(--heading-color);
 
}

.navbar{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-bottom: 1px solid rgba(240, 236, 236, 0.863);
}

.navbar h1{
 
  font-weight: 600;
  font-size: 40px;
  
}

.navbar .links{
  margin-left: auto;
  font-size: 18px;
 
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:visited{
  text-decoration: underline;
}

.navbar a:hover{
  font-weight: bold;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  
}

/* blog preview*/
.blog-preview{
  padding: 20px;
  margin: 20px auto;
  transition: box-shadow 0.3s;
}

.blog-preview h2{
  font-size: 25px;
  font-weight: 400;
  color: var(--heading-color);
}

.blog-preview:hover{
  box-shadow: 2px 2px 5px rgba(189, 187, 187, 0.863);
}

.blog-preview a{
  text-decoration: none;
}

/* Home */

.home hr{
    /* margin-block-start: 3%; */
    border: dotted rgba(240, 236, 236, 0.863) 8px;
    border-bottom: none;
    width: 10%;
    margin: 20px auto;
 
}

/* blog-page */

.blog-details h2{
  font-size: 30px;
  margin: 20px 0 2px -3px;
}

.blog-details p{
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-details div{
  font-size: 20px;
  font-family: var(--text-font);
  line-height: 1.6
}

.blog-details button{
  margin: 10px auto;
  cursor: pointer;
  padding: 15px ;
  border-radius: 22px;
  border: none;
  background-color: rgba(189, 187, 187, 0.863);
  font-family: var(--heading-font);
  font-size: 1rem;
  font-weight: bold;
}

.blog-details button:hover{
  background-color: rgba(221, 218, 218, 0.863);
}

/*Create Blog*/

.create{
  text-align: center;
}

.create label{
  display: block;
  margin: 10px 0;
  text-align: left;
  font-size: larger
}

.create input, textarea, select{
  width: 100%;
  display: block;
  padding: 8px 10px;
  border: 1px solid rgba(184, 182, 182, 0.863) ;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

/* .create input, textarea, select:focus{
  box-shadow: 0 0 3pt 2pt red;
} */

.create button{
  margin: 10px auto 20px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 22px;
  border: none;
  background-color: rgba(189, 187, 187, 0.863);
  font-family: var(--heading-font);
  font-size: 1rem;
  font-weight: bold;
  
}

.create button:hover{
  background-color: rgba(221, 218, 218, 0.863);
}

/*Error*/

.error{
  display: grid;
  place-items: center;
}
.error h1{
  font-size: 80px;
  
}
